.vscode/**
.vscode-test/**
.git/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
AGENTS.md
Progress.md
code.bat
vsix.bat
esbuild.js
package-lock.json
vsc-extension-quickstart.md
*.vsix
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
